@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    color-scheme: light dark;
    --hue: 240;
    --accent-hue: 270;
    --saturation: 10%;
    --light: 80%;
    --light-element: 90%;
    --dark: 10%;
    --dark-element: 20%;
    --background: light-dark(hsl(var(--hue), var(--saturation), var(--light)), hsl(var(--hue), var(--saturation), var(--dark)));
    --element: light-dark(hsl(var(--hue), var(--saturation), var(--light-element)), hsl(var(--hue), var(--saturation), var(--dark-element)));
    --accent-element: light-dark(hsl(var(--accent-hue), var(--saturation), var(--light-element)), hsl(var(--accent-hue), var(--saturation), var(--dark-element)));
    --text: light-dark(hsl(var(--accent-hue), var(--saturation), var(--dark-element)), hsl(var(--accent-hue), var(--saturation), var(--light-element)));
    --base-unit: 1rem;
}

input:focus,
button:hover,
input:hover {
    box-shadow: 0 0 calc(var(--base-unit) / 2) calc(var(--base-unit) / 2) oklch(0 0 0 / 50%);
}

button:active {
    background-color: transparent;
    box-shadow: none;
}

body * {
    color: var(--text);
    background-color: var(--element);
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: "Inter", "Verdana", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: calc(var(--base-unit) / 4) solid hsla(0, 0%, 0%, 1);
    border-radius: var(--base-unit);
    padding: var(--base-unit);
    font-size: var(--base-unit);
    transition: 0.3s;
    flex: 1 1 auto;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
    outline: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    grid: auto / 1fr;
    flex-flow: row wrap;
    
}

* {
    box-sizing: border-box;
}

::selection {
    color: var(--element);
    background-color: var(--text);
}

::-moz-selection {
    color: var(--element);
    background-color: var(--text);
}

html {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    background-color: transparent;
    margin: auto;
    width: 80%;
    display: grid;
    padding: var(--base-unit);
    grid-gap: var(--base-unit);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans", "Verdana", sans-serif;
}

button,
select,
option {
    cursor: pointer;
}

a,
input {
    font-weight: 700;
}

div {
    display: grid;
    background-color: transparent;
    padding: 0;
    margin: 0;
    grid-gap: var(--base-unit);
}

input,
select,
button {
    color: var(--text-accent);
    background-color: var(--accent-element);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.accent {
    background-color: var(--accent-element);
}

.alt {
    background-color: var(--text);
    color: var(--element);
}

.default {
    background-color: var(--element);
    color: var(--text);
}

.default::selection {
    color: var(--text);
    background-color: var(--element);
}

.default::-moz-selection {
    color: var(--text);
    background-color: var(--element);
}

@media (orientation: portrait) {
    body {
        width: 100%;
    }
}